<aside class="aside">
    <section class="aside__card">
        <form action="" method="post">
            <input
                type="text"
                name="search"
                placeholder="Поиск..."
                class="aside__search-input"
            />
            <button type="submit" class="aside__search-button">
                <span class="material-symbols-outlined"> search </span>
            </button>
        </form>
    </section>
    <section class="aside__card">
        <h3 class="aside__card-header">Ближайшие события</h3>
        <ul class="calendar-list">
            <li class="calendar-list-item">
                <span class="calendar-list-title">
                    Европейская презентация Xiaomi
                </span>
                <span class="calendar-list-time">04.10.22</span>
            </li>
            <li class="calendar-list-item">
                <span class="calendar-list-title">
                    Презентация Google Pixel 7
                </span>
                <span class="calendar-list-time">06.10.22</span>
            </li>
            <li class="calendar-list-item">
                <span class="calendar-list-title"> Meta Connect </span>
                <span class="calendar-list-time">11.10.22</span>
            </li>
            <li class="calendar-list-item">
                <span class="calendar-list-title">
                    Презентация в России realme GT Neo 3T и 9 5G
                </span>
                <span class="calendar-list-time">11.10.22</span>
            </li>
            <li class="calendar-list-item">
                <span class="calendar-list-title">
                    Samsung Developer Conference 2022
                </span>
                <span class="calendar-list-time">12.10.22</span>
            </li>
            <li class="calendar-list-item">
                <span class="calendar-list-title">
                    Microsoft Fall 2022 Event
                </span>
                <span class="calendar-list-time">12.10.22</span>
            </li>
        </ul>
    </section>
    <section class="aside__card">
        <h3 class="aside__card-header">Мы в социальных сетях</h3>
        <ul class="socials-list">
            <li class="socials-list-item">
                ВКонтакте: <a href="">vk.com/rozetked</a>
            </li>
            <li class="socials-list-item">
                Twitter: <a href="">twitter.com/rozetked</a>
            </li>
            <li class="socials-list-item">
                Telegram: <a href="">t.me/rozetked</a>
            </li>
            <li class="socials-list-item">
                YouTube: <a href="">youtube.com/rozetked</a>
            </li>
            <li class="socials-list-item">
                Дзен: <a href="">dzen.ru/rozetked</a>
            </li>
        </ul>
    </section>
</aside>
