<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <a href="/">
                <img
                    src="https://rozetked.me/images/logo.png"
                    alt="Rozetked's Logo"
                    draggable="false"
                />
            </a>
        </div>
        <div class="footer__menu">
            <ul class="footer__menu-list">
                <a href="#">
                    <li class="footer__menu-item">О нас</li>
                </a>
                <a href="#">
                    <li class="footer__menu-item">Контакты</li>
                </a>
                <a href="#">
                    <li class="footer__menu-item">Реклама</li>
                </a>
                <a href="#">
                    <li class="footer__menu-item">Нашли ошибку?</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
<section class="admin">
    <div class="material-symbols-outlined admin-selector" id="showPalette">
        palette
    </div>
    <div class="material-symbols-outlined admin-selector" id="switchMode">
        light_mode
    </div>
    <div
        class="material-symbols-outlined admin-selector"
        id="scrollUp"
        style="display: none"
    >
        arrow_upward
    </div>
</section>
<div class="admin__palette">
    <div class="admin__palette-yellow"></div>
    <div class="admin__palette-red"></div>
    <div class="admin__palette-green"></div>
</div>
