.article {
    &__body {
        padding: 30px;
        margin: 0 0 10px 0;
        background-color: var(--card-bg-color);
        border-bottom: 5px solid var(--dark-hover-color);
        border-radius: var(--s-bradius);
    }
    &-title {
        margin: 0 0 10px 0;
        font-size: 2em;
    }
    &-text {
        font-size: 16px;
        line-height: 22px;
        p {
            padding: 10px 0;
        }
        a {
            color: var(--secondary-color);
            transition: color 0.5s;
            &:hover {
                color: var(--primary-color);
            }
        }
    }
}
