.article {
    &__body {
        padding: 10px 30px;
        margin: 0 0 10px 0;
        background-color: var(--card-bg-color);
        border-bottom: 5px solid var(--dark-hover-color);
        border-radius: var(--s-bradius);
    }
    &-img {
        width: calc(100% + 60px);
        height: auto;
        margin: -10px -30px 0 -30px;
        border-radius: var(--s-bradius) var(--s-bradius) 0 0;
        filter: brightness(0.6);
    }
    &-title {
        bottom: 30px;
        font-size: 2em;
        position: absolute;
        color: var(--dark-txt-color);
    }
    &-text {
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
        p {
            padding: 10px 0;
        }
        a {
            color: var(--secondary-color);
            transition: color 0.5s;
            &:hover {
                color: var(--primary-color);
            }
        }
    }
    &__info {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        &-numbers {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-weight: 600;
        }
        &-tags {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &-item {
                background-color: var(--dark-hover-color);
                padding: 5px 8px;
                border-radius: var(--s-bradius);
                transition: all 0.5;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
        &-icon {
            font-size: 14px !important;
            vertical-align: middle;
            margin: 0 3px 2px 0;
        }
    }
}
