.header {
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
    box-sizing: content-box;
    opacity: 0;
    animation: enter-down ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: var(--load-delay);
    &__logo img {
        height: 35px;
        vertical-align: middle;
    }
    &__menu {
        &-list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        &-item {
            font-family: 'Roboto Mono', monospace;
            font-weight: 600;
            font-size: 1.1em;
            transition: all 0.5s;
            &:hover {
                color: var(--hover-color);
            }
        }
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
