.container {
    width: var(--mobile-body-width);
}

.header {
    width: calc(100% - 20px);
    &-hamburger {
        display: inline-block !important;
    }
    &__menu {
        &-list {
            gap: 12px;
        }
    }
}

.main {
    width: 100%;
}

.aside {
    position: fixed;
    background-color: var(--dark-card-bg-color);
    width: 320px;
    height: 100%;
    right: -320px;
    top: 0;
    z-index: 999;
    padding: 10px;
}

.footer {
    &__menu {
        margin: 20px 0 0 0;
        &-list {
            gap: 12px;
        }
    }
    .container {
        flex-direction: column;
    }
}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--dark-card-bg-color);
    opacity: 0.6;
    z-index: 998;
    display: none;
    transition: all 2s;
}

@media screen and (max-width: 650px) {
    .container {
        width: var(--phone-body-width);
    }
    .header {
        &__menu {
            position: absolute;
            top: 65px;
            width: var(--mobile-body-width);
            &-list {
                justify-content: center;
                gap: 15px;
            }
        }
        .container {
            justify-content: center;
        }
    }
    .main {
        margin: 35px 0 0 0;
    }
    .footer {
        &__menu {
            font-size: 12px;
        }
    }
    body.dark {
        .header {
            &__menu {
                color: var(--dark-txt-color);
                &-item {
                    &:hover {
                        color: var(--dark-hover-color);
                    }
                }
            }
        }
    }
}
