.container {
    width: var(--mobile-body-width);
}

.header {
    width: var(--phone-body-width);
    &-hamburger {
        display: inline-block !important;
    }
    &__menu {
        &-list {
            gap: 12px;
        }
    }
}

.main {
    width: 100%;
}

.aside {
    position: fixed;
    background-color: var(--dark-card-bg-color);
    width: 320px;
    height: 100%;
    right: -320px;
    top: 0;
    z-index: 999;
    padding: 10px;
}

.footer {
    &__menu {
        margin: 20px 0 0 0;
        &-list {
            gap: 12px;
        }
    }
    .container {
        flex-direction: column;
    }
}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--dark-card-bg-color);
    opacity: 0.6;
    z-index: 998;
    display: none;
    transition: all 2s;
}

@media screen and (max-width: 650px) {
    .container {
        width: var(--phone-body-width);
    }
    .header {
        opacity: 1;
        animation: none;
        &__menu {
            position: fixed;
            bottom: 0;
            background-color: var(--primary-color);
            width: 100%;
            z-index: 997;
            opacity: 0;
            animation: enter-up ease-in 1;
            animation-fill-mode: forwards;
            animation-duration: 0.5s;
            animation-delay: var(--load-delay);
            &-list {
                justify-content: center;
                gap: 15px;
            }
        }
        .container {
            justify-content: center;
        }
    }
    .main {
        margin: 0;
    }
    .footer {
        padding-bottom: 95px;
        &__menu {
            font-size: 12px;
        }
    }
    .admin {
        padding: 5px;
        border: 0;
        bottom: 75px;
        &__palette {
            bottom: 75px;
            right: 100px;
            border: 0;
            padding: 7px;
            &-yellow,
            &-red,
            &-green {
                width: 30px !important;
                height: 30px !important;
            }
        }
    }
}
